body{
    font-family: Arial, Helvetica, sans-serif;
}
.player, .details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.player{
    height: 95vh;
}
.wrapper{
    border: 1px solid transparent;
    padding: 30px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    height: 100%;
}
.track-art{
    margin: 25px;
    height: 250px;
    width: 250px;
    border: 1px solid #fff;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    box-shadow: 0px 6px 5px #ccc;
    border-radius: 190px;
}
.now-playing{
    font-size: 1rem;
}
.track-name{
    font-size: 2.5rem;
}
.track-artist{
    margin-top: 5px;
    font-size: 1.5rem;
}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}
.active{
    color: black;
}
button{
    border: none;
    background: transparent;
    padding: 25px;
    opacity: 0.8;
    transition: opacity .2s;
}
button:hover{
    opacity: 1.0;
}
.slider_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#seekSlider, #volumeSlider{
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    height: 5px;
    background: #83a9ff;
    transition: opacity .2s;
}
#seekSlider::-webkit-slider-thumb, #volumeSlider::-webkit-slider-thum{
    -webkit-appearance: none;
            appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    border: 3px solid #3774ff;
    cursor: pointer;
    border-radius: 100%;
}
#seekSlider:hover, #volumeSlider:hover{
    opacity: 1;
}
#seekSlider{
    width: 60%;
}
#volumeSlider{
    width: 30%;
}
#currTime, #totalDuration{
    padding: 10px;
}
i.fa-volume-down, i.fa-volume-up{
    padding: 10px;
}
.fa-play-circle, .fa-pause-circle::before, .fa-play-circle::before {
    font-size: 4.5rem;
}
.fa-repeat::before {
    font-size: 1.8rem;
}
i{
    cursor: pointer;
    font-size: 1.8rem;
}
.active{
    color: white;
}
.rotate{
    -webkit-animation: rotation 8s infinite linear;
            animation: rotation 8s infinite linear;
}
@-webkit-keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}
@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}
.loader{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader .stroke{
    background: #f1f1f1;
    height: 150%;
    width: 10px;
    border-radius: 50px;
    margin: 0 5px;
    -webkit-animation: animate 1.4s linear infinite;
            animation: animate 1.4s linear infinite;
}
@-webkit-keyframes animate {
    50%{
        height: 20%;
        background: #4286f4;
    }    
    100%{
        height: 100%;
    }
}
@keyframes animate {
    50%{
        height: 20%;
        background: #4286f4;
    }    
    100%{
        height: 100%;
    }
}
.stroke:nth-child(1){
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
}
.stroke:nth-child(2){
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
}
.stroke:nth-child(3){
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
}
.stroke:nth-child(4){
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
}
.stroke:nth-child(5){
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
}
.stroke:nth-child(6){
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
}
.stroke:nth-child(7){
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
}

@media screen and (max-width: 500px) {
    .wrapper{
        width: 80%;
    }
    .track-name {
        font-size: 1.5rem;
    }
    .track-artist {
        font-size: 1rem;
    }
    .time {
        width: 80%;
        margin: auto;
    }
    .volume {
        width: 60%;
        margin: auto;
    }
    .buttons {
        width: 80%;
    }
    .fa-play-circle, .fa-pause-circle::before, .fa-play-circle::before {
        font-size: 3rem;
    }
    .fa-repeat::before {
        font-size: 1.3rem;
    }
    i{
        font-size: 1.3rem;
    }
    .buttons{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .buttons {
        margin: 0 auto;
        width: 100%;
    }
    button {
        padding: 15px;
    }
    #wave {
        margin-top: 30px;
    }
}